body {
  background-color: #F2F4F4;
}

#survey-form {
  max-width: 250px;
  margin-left: 400px;
  box-shadow: -5px -0rem 5px black;
  background-color: white;
}

h1 {
  margin-left: 400px;
}

p {
  margin-left: 400px;
}